
{% extends "layouts/base.html" %}
  {% set title %}Labs{% endset %}
  {% set style %}main.css{% endset %}
 {% block body %}

  <table class="center_table">
    <tr>
    <th>Names</th>
    {% for h in headers %}
    <th>{{h}}</th>
    {%endfor %}
    <th>Asked for help</th>
    <th>TAed</th>
  </tr>
  <form action="/lab/{{group}}" method="POST">
    {% for uid in students %}
      <tr>

      <td><p>{{students[uid]['name']}}</p></td>
      {% for i in range(students[uid]['bonuses']|length)%}
      <td>
      {% if students[uid]['bonuses'][i] %}
        <input type= 'checkbox' name="labs" value="{{uid}}_{{i}}_bonuses" class="bonus" checked>
      {% else%}
        <input type= 'checkbox' name="labs" value="{{uid}}_{{i}}_bonuses" class="bonus">
      {% endif %}

      {% if students[uid]['extras'][i] %}
        <input type= 'checkbox' name="labs" value="{{uid}}_{{i}}_extras" class="extras" checked>
      {% else%}
        <input type= 'checkbox' name="labs" value="{{uid}}_{{i}}_extras" class="extras">
      {% endif %}

      {% if students[uid]['advanced'][i] %}
        <input type= 'checkbox' name="labs" value="{{uid}}_{{i}}_advanced" class="advanced" checked>
      {% else%}
        <input type= 'checkbox' name="labs" value="{{uid}}_{{i}}_advanced" class="advanced">
      {% endif %}
    </td>
      {% endfor %}
      <td><input type="number" name="{{uid}}_help_asked" value="{{students[uid]['help_asked']}}" min='0' required></td>
      <td><input type="number" name="{{uid}}_TA" value="{{students[uid]['TA']}}" min='0' required></td>
      </tr>
    {% endfor %}
  </table>
  <br><br>
  <div class="text-center">
    <input type="submit" name = 'save' value="Save">
  </div>
  <br><br>
  </form>
  {% endblock %}